button.correct {
  background-color: rgb(135, 219, 135);
}

button.selected {
  background-color: rgb(207, 89, 89);
}

.question-header {
  margin-top: 10%;
  background-color: white;
  border-radius: 20px;
  max-width: 80%;
  margin-inline: auto;
  opacity: 50%;
}

h2.question {
  opacity: 100%;
  color: rgb(170, 98, 238);
}

p {
  padding-top: 10px;
}

button {
  min-width: 15%;
  font-size: 15px;
}

.score-title {
  margin-top: 15%;
  color: rgb(255, 255, 255);
}

.timer {
  padding-bottom: 10px;
}

.five-seconds {
  color: rgb(207, 89, 89);
}

@media only screen and (max-width: 600px) {
  .question-grid {
    margin-top: 20%;
  }
  .answer-btn-grid {
    display: flex;
    flex-direction: column;
  }
  .score-title {
    margin-top: 60%;
  }
}
