nav {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  width: 100%;
  padding: 5px 0;
  background-color: #9958be;
  text-align: left;
  padding-left: 10px;
}

.highlight {
  position: relative;
  color: #ffffff;
  z-index: 1;
  margin-inline: auto;
}

span.highlight::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
  transform: scale(1.2, 1.2) skewX(0deg);
  border-radius: 50%;
  background: linear-gradient(to top left, #ffffff, #8f23f3);
}

a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 2px;
  margin-right: 10px;
  color: #dcb9f5;
}

a:hover {
  color: white;
}
